.row {
    display: flex;
    margin-top: 2rem;

  }
  
  .column {
    width: 100%;
    flex: 50%;
    justify-content: center;
    align-items: center;
    margin:10px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
  }