.speech-bubble {
	position: relative;
	background: #2f3c7e;
	border-radius: .4em;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.35);
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #2f3c7e;
    
	border-bottom: 0;
	margin-left: -10px;
	margin-bottom: -10px;
}